.bug {
  position: fixed;
  width: 80px;
  height: 80px;
}
.bug:hover {
  cursor: pointer;
  transform: scale(1.08);
}
.carrot {
  position: fixed;
  width: 100px;
  height: 100px;
}
.carrot:hover {
  cursor: pointer;
  transform: scale(1.08);
}
