@import url("nav.css");
@import url("main.css");
@import url("popup.css");
* {
  box-sizing: border-box;
}
.game__screen {
  width: 900px;
  height: 600px;
  margin: auto;
  background: url(../img/background.png) center/cover no-repeat;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
body {
  background-color: black;
}
